html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.general {
    background: #6e6a6b;
    transition: background-color 1ms ease-out 100ms
  }
  
.general:hover {
    background-color: #211f20;
}

.deleteaccount {
    background: #c37762;
    transition: background-color 1ms ease-out 100ms
}

.deleteaccount:hover {
    background-color: #b53d32;
}

.home {
  height:100vh;
  width: 100%;
  padding: 0;
  background: url("../images/login&signup.jpg") top center;
  background-size: cover;
  filter: brightness(95%);
}