<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BuySellConnect</title>

    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">

    <!--my css-->
    <link rel="stylesheet" th:href="@{/css/changepassword.css}">

    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    
  </head>
  <body class="home">
    
    <div>
        <header data-bs-theme="dark">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
             <div class="container-fluid">
               <a class="navbar-brand" href="#">BuySellConnect</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     
                    <li class="nav-item">
                          <a class="nav-link" aria-current="page" th:href="@{/BuySellConnect/user/products}">Products</a>
                    </li>
            
                    <li class="nav-item">
                          <a class="nav-link" aria-current="page" th:href="@{/BuySellConnect/user/myproducts}">MyProducts</a>
                    </li>
            
                    <li class="nav-item">
                          <a class="nav-link" aria-current="page" th:href="@{/BuySellConnect/user/orders}">MyOrders</a>
                    </li>
    
                    <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                   
                 </ul>
                   
               </div>
             </div>
           </nav>
        </header>
    </div>
    
    <div class="myform home">
        <main class="form-register m-auto">

            <div class="modal modal-sheet position-static d-block" tabindex="-1" role="dialog" id="modalSignin">
                <div class="modal-dialog" role="document">
                  <div class="modal-content rounded-4 shadow">
        
                    <div class="modal-body p-5 pt-0">
                      <form th:action="@{/BuySellConnect/user/processchangepasswordform}" method="post">
                        
                        <div class="form-floating mb-3 mt-5">
                            <input type="password" 
                            class="form-control rounded-3" 
                            id="floatingPassword" 
                            placeholder="Password" 
                            name="password"
                            minlength="1" 
                            maxlength="20" required>
                            <label for="floatingPassword">Old Password</label>
                          </div>
                          
                          <!--for field error-->
                        <div th:each="error : ${#fields.errors('userInfo.password')}" class="alert alert-warning alert-dismissible fade show" 
                            role="alert">
                            <p th:text="${error}"></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" 
                            class="form-control rounded-3" 
                            id="floatingPassword" 
                            placeholder="Password" 
                            name="newpasswordfirst"
                            minlength="1" 
                            maxlength="20" required>
                            <label for="floatingPassword">New Password</label>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="password" 
                            class="form-control rounded-3" 
                            id="floatingPassword" 
                            placeholder="Password" 
                            name="newpasswordsecond"
                            minlength="1" 
                            maxlength="20" required>
                            <label for="floatingPassword">Retype New Password</label>
                          </div>
                          
                        <!--for other errors-->
                        <div th:if="${errorMessage}" class="alert alert-warning alert-dismissible fade show" 
                            role="alert">
                            <p th:text="${errorMessage}"></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
    
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Change Password</button>
                       
                      </form>
                    </div>
                  </div>
                </div>
              </div>
    
        </main>
    </div>

    <!--bootstrap css-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>

  </body>
</html>