<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BuySellConnect</title>

    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">

    <!--my css-->
    <link rel="stylesheet" th:href="@{/css/profile.css}">

    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    
  </head>
  <body>
    
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
         <div class="container-fluid">
           <a class="navbar-brand" href="#">BuySellConnect</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				 
				<li class="nav-item">
          			<a class="nav-link" aria-current="page" th:href="@{/BuySellConnect/user/products}">Products</a>
        		</li>
        
        		<li class="nav-item">
          			<a class="nav-link" aria-current="page" th:href="@{/BuySellConnect/user/myproducts}">MyProducts</a>
        		</li>
        
        		<li class="nav-item">
          			<a class="nav-link" aria-current="page" th:href="@{/BuySellConnect/user/orders}">MyOrders</a>
        		</li>

        		<li class="nav-item">
          			<a class="nav-link active" aria-current="page" href="#">Profile</a>
        		</li>
               
             </ul>
               
           </div>
         </div>
       </nav>
    </header>
    
    <main>

        <div class="container">

            <div class="rounded">
              <div class="py-5">
                <h1 class="display-5 fw-normal">Welcome </h1>
                <p class="fs-5">This example shows how responsive offcanvas menus work within the navbar. 
                </p>
              </div>
            </div>
            
            <a th:href="@{/BuySellConnect/user/orders}" style="text-decoration: none">
              <div class="align-items-center p-3 mb-3 text-white rounded shadow-sm general text-center">
                  <div class="lh-1">
                      <h2 class="m-1 text-white lh-1">MyOrders</h2>
                  </div>
              </div>
            </a>

            <a th:href="@{/BuySellConnect/user/myproducts}" style="text-decoration: none">
              <div class="align-items-center p-3 mb-3 text-white rounded shadow-sm general text-center">
                  <div class="lh-1">
                      <h2 class="m-1 text-white lh-1">MyProducts</h2>
                  </div>
              </div>
            </a>

            <a th:href="@{/BuySellConnect/user/myproducts}" style="text-decoration: none">
              <div class="align-items-center p-3 mb-3 text-white rounded shadow-sm general text-center">
                  <div class="lh-1">
                      <h2 class="m-1 text-white lh-1">Change Password</h2>
                  </div>
              </div>
            </a>
            
            <a th:href="@{/logout}" style="text-decoration: none">
                <div class="align-items-center p-3 mb-3 text-white rounded shadow-sm general text-center">
                    <div class="lh-1">
                        <h2 class="m-1 text-white lh-1">Logout</h2>
                    </div>
                </div>
            </a>
            
            <a th:href="@{/BuySellConnect/user/deleteaccount}" style="text-decoration: none">
                <div class="align-items-center p-3 text-white rounded shadow-sm deleteaccount text-center">
                    <div class="lh-1">
                        <h2 class="text-white lh-1">Delete Account</h2>
                    </div>
                </div>
            </a>

        </div>
    
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>

  </body>
</html>