<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #cdc6c6;
        }
        .container {
            max-width: 700px;
            margin: 0 auto;
            padding: 0.5rem;
            background-color: #e1d9d9;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        }
        h3{
            color: blue;
        }
    </style>
    
  </head>
  <body>
    <main>
        <div class="px-4 py-5 my-5 container">
            
            <div class="col-lg-8 mx-auto">

                <h3 class="display-6">Greetings from BuySellConnect</h3>
                <p class="lead mb-4 pt-2">Dear ,</p>

                <p class="lead">We wanted to inform you that you have cancelled the request(Request Id:) for your product <strong>[Product Name]</strong> from the buyer.</p>
                
                <p class="lead">If you have any questions or would like to provide any further information, please feel free to reach out to the buyer directly.</p>

                <p class="lead pb-2 mb-2">Thank you for using BuySellConnect.</p>

                <p>Best regards,<br>The BuySellConnect Team</p>
                
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              </div>
            </div>
        </div>
    </main>

    <!--bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  </body>
</html>
