<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #cdc6c6;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #e1d9d9;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h3{
            color: blue;
        }
    </style>
    
  </head>
  <body>
    <main>
        <div class="px-4 py-5 my-5 container">
            
            <div class="col-lg-8 mx-auto">

                <h3 class="display-6">Welcome to BuySellConnect</h3>
                <p class="lead mb-4 pt-2">Hello [User's Name],</p>

                <p class="lead">Thank you for using BuySellConnect! Here is your one-time password (OTP) to complete your verification:</p>
                
                <p class="lead">OTP Code: Your OTP Code]</p>
                
                <p class="lead">Please use this OTP code to verify your account.</p>
                
                <p class="lead pb-2 mb-2">If you did not request this OTP, please ignore this email. Your account security is important to us.</p>
                
                <p>Thank you,</p>
                <p>The BuySellConnect Team</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              </div>
            </div>
        </div>
    </main>

    <!--bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  </body>
</html>